/* start variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px 0;
    --p-color: #777;
}
/* end variables */

/* Start global rules */
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgb(109, 107, 107) inset;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(221, 221, 221, 10%);
    box-shadow: 0 0 10px rgb(143, 143, 143) inset;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover {
    box-shadow: none;
    background-color:  var(--main-color);
  }
  body {
    font-family: "Open Sans", sans-serif;
  }
  ul {
    list-style: none;
  }
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* End global rules */

/* start components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  position: relative;
  margin-bottom: 70px;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  background-color: #333;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 50%;
  bottom: -38px;
  transform: translateX(-50%);
  background-color: white;
  border: 2px solid #333;
  border-radius: 50%;
}
.main-heading p {
  width: 550px;
  margin:  0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: var(--p-color, #777);
}
/* end components */

/* Start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #a2a2a2;
    bottom: 0;
    left: 15px;
    z-index: -1;
}
header img {
    height: 40px;
}
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}
header nav .toggle-menu {
    color: white;
    font-size: 22px;
}
@media (min-width: 768px) {
    header .toggle-menu {
        display: none;
    }
}
header ul {
    display: flex;
}
@media (max-width: 767px) {
    header ul {
        display: none;
    }
    header .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
    header ul a {
        padding: 15px !important;
    }
}
header ul a {
    display: block;
    padding: 40px 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}
header ul a.active,
header ul a:hover {
    color: var(--main-color, #19c8fa);
    border-bottom: 1px solid var(--main-color, #19c8fa);
}
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header nav .form i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
}
/* end header */

/* start landing */
.landing {
  min-height: 100vh;
  background-size: cover;
  background-color:rgb(39, 39, 39);
  position: relative;
}
.landing .slider-container{
  position: relative;
  height: 100vh;
}
.slider-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}
.slider-container img.active {
  opacity: 1;
}
.landing .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
position: absolute;
top: 50%;
left: 0;
width: 50%;
padding: 50px;
transform: translateY(-50%);
background-color: var(--transparent-color, rgb(15 116 143 / 70%));
color: white;
display: flex;
justify-content: flex-end;
}
.landing .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .content {
    max-width: 100%;
  }
}
.landing .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .content p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-right {
  position: absolute;
  right: 30px;
}
.landing .fa-angle-left {
  position: absolute;
  left: 30px;
}
.landing .sliding-bullets {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  display: flex;
}
.landing .sliding-bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 10px;
  cursor: pointer;
}
.landing .sliding-bullets li.active {
  background-color: var(--main-color, #19c8fa);
  border: 1px solid var(--main-color, #19c8fa);
}
.slider-controlers .prev.disabled,
.slider-controlers .next.disabled {
    cursor: no-drop;
}
/* end landing */

/* start services */
.services {
  padding: var(--section-padding);
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services .srv-box {
  display: flex;
}
.services .srv-box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .srv-box i {
    margin: 0 0 30px;
  }
}
.services .srv-box h3 {
  margin-bottom:30px;
  color: var(--main-color);
}
.services .srv-box p {
  line-height: 2;
  color: var(--p-color, #777);
}
/* end services */

/* start design */
.design {
  padding: var(--section-padding);
  height: 600px;
  position: relative;
  background-image: url("../images/design-features.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .image img {
  position: relative;
  bottom: -150px;
}
.design .text {
  padding: 50px;
  color: white;
  background-color: var(--transparent-color) ;
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design .text li {
  padding: 15px 0;
}
.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* end design */
/* start portfolio */
.portfolio {
  padding: var(--section-padding);
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li {
  padding: 10px;
  cursor: pointer;
}
.portfolio .shuffle li.active {
  background-color:var(--main-color);
  color: white;
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  padding:10px;
}
.portfolio .imgs-container .box {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .box .caption {
  position: absolute;
  left: 0;
  bottom: -100%;
  padding: 20px;
  background-color:white;
  width: 100%;
  transition: 0.3s;
}
.portfolio .box h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .box p {
  color: var(--main-color);
}
.portfolio .more {
  background-color:var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
}
/* end portfolio */
/* start video */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  text-align: center;
}
.video .text h2 {
font-weight: normal;
margin: 0 0 30px;
text-transform: uppercase;
}
.video .text p {
  margin: 0 0 30px;
}
.video .text button {
background-color: black;
padding: 10px 20px;
color: white;
text-transform: uppercase;
border: none;
cursor: pointer;
}
/* end video */
/* start about */
.about {
  padding-top: 100px;
  text-align: center;
  overflow: hidden;
}
.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* end about */

/* start stats */
.stats {
  padding: var(--section-padding);
  text-align: center;
  background-image: url("../images/stats.png");
  background-size: cover;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stats .container .box {
  padding: 50px;
  color: white;
  background-color: var(--transparent-color);
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}
.stats .container i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  background-color:black;
}
.stats .container .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.stats .container p {
  font-size: 14px;
}
/* end stats */

/* start our-skills */
.our-skills {
  padding: var(--section-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  font-weight: normal;
  text-align: center;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.our-skills .container > div > p {
  color: var(--p-color);
  text-align: center;
  line-height: 2;
  margin-bottom: 60px;
}
.our-skills .container .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.our-skills .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .our-skills .container .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .content img {
    margin: 0 auto 20px;
  }
}
.our-skills .content .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.our-skills .text p {
  color: var(--p-color);
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.our-skills .bullets {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  cursor: pointer;
}
.our-skills .bullets li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #aaa;
  margin-right: 10px;
}
.our-skills .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .skills .prog-holder {
  margin-bottom: 40px;
}
.our-skills .prog-holder h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.our-skills .prog-holder .prog {
  height: 30px;
  background-color: #dedadc;
}
.our-skills .prog-holder span {
  display: block;
  height: 100%;
  position: relative;
  background-color: var(--main-color);
}
.our-skills .prog-holder span::before {
  content: attr(data-progress);
  position: absolute;
  top: -40px;
  right: -18px;
  width: 40px;
  padding: 4px 0;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 4px;
}
.our-skills .prog-holder span::after {
  content: "";
  position: absolute;
  right: -8px;
  top: -15px;
  border: 8px solid transparent;
  border-top-color: black;
}
/* end our-skills */

/* start quote */
.quote {
  padding: var(--section-padding);
  background-image: url("../images/quote.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.quote .container {
  position: relative;
}
.quote q {
  font-size: 30px;
  display: block;
  margin-bottom: 30px;
}
.quote q::before {
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
.quote q::after {
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* end quote */

/* start pricing */
.pricing {
  padding: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .head h3 {
  margin-bottom: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.pricing .head span {
  font-weight: bold;
  font-size: 60px;
}
.pricing .head span::before {
  content: "$";
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
  font-size: 25px;
}
.pricing .head span::after {
  content: "/Mo";
  position: relative;
  right: -15px;
  font-size: 20px;
  font-weight: normal;
}
.pricing .plan ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plan ul li {
  padding: 20px;
  position: relative;
}
.pricing .plan ul li:not(:last-child)::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 140px;
  height: 1px;
  background-color: var(--main-color);
}
.pricing .foot a {
  display: block;
  width: fit-content;
  margin: 30px auto;
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  text-decoration: none;
  color: black;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}
/* end pricing */

/* start subscribe */
.subscribe {
  padding: var(--section-padding);
  position: relative;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  color: white;
}
.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}
.subscribe input[type="email"] {
  width: calc(100% - 130px);
  padding: 20px 20px 20px 60px;
  background: none;
  border: 1px solid white;
  border-right: none;
  caret-color: var(--main-color);
}
.subscribe input[type="email"]::placeholder {
  color: white;
}
.subscribe input[type="submit"] {
  width: 130px;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
  cursor: pointer;
}
.subscribe input[type="email"]:focus,
.subscribe input[type="submit"]:focus {
  outline: none;
}
.subscribe p {
  margin-left: 50px;
  line-height: 2;
}
@media (max-width: 991px) {
  .subscribe p {
    margin: 30px 0 0;
  }
}
/* end subscribe */

/* start contact */
.contact {
  padding: var(--section-padding);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  border:  1px solid #ccc;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  display: flex;
  margin-left: auto;
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.contact .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .info {
    order: -1;
    text-align: center;
  }
}
.contact .info h4 {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}
.contact .info .phone {
  display: block;
  margin-bottom: 10px;
  color: #777;
}
.contact .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .info address {
    margin-bottom: 40px;
  }
}
/* end contact */

/* start footer */
.footer {
  padding: 50px 0;
  position: relative;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  color: white;
  text-align: center;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  position: relative;
}
.footer .container img {
  margin-bottom: 20px;
  cursor: pointer;
}
.footer p:not(.copyright) {
  width: fit-content;
  padding: 20px;
  margin: 20px auto;
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}
.footer .social-icons i {
  padding: 10px 15px;
  cursor: pointer;
}
.footer .copyright {
  margin-top: 60px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
}
/* end footer */